@tailwind base;

/* Write your own custom base styles here */
.articleBody h2 {
  @apply text-2xl;
}

.articleBody p {
  @apply m-3;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* Write your own custom component styles here */
.bg-gradient {
  background: linear-gradient(
    0deg,
    rgba(204, 251, 241, 1) 0%,
    rgba(249, 250, 251, 1) 100%
  );
}

.about-page__main-image {
  border-radius: 5px 5px 0px 0px;
  margin-left: 20px;
  transform: perspective(300px) rotateX(2deg) rotateY(1deg);
  transform-origin: left bottom;
}

.contact-page__main-image {
  width: 100%;
  transform: skewY(2deg);
  transform-origin: left bottom;
}

/* Notification */
.notificationWrapper {
  @apply flex flex-row items-center justify-between w-96 bg-neutral-800 px-4 py-6 text-white shadow-2xl hover:shadow-none transform-gpu translate-y-0 hover:translate-y-1 rounded-xl relative transition-all duration-500 ease-in-out;
}
.iconWrapper {
  @apply text-xl;
}
.contentWrapper {
  @apply flex flex-col items-start justify-center ml-4 cursor-default;
}
.contentWrapper h1 {
  @apply text-base text-gray-200 font-semibold leading-none tracking-wider;
}
.contentWrapper p {
  @apply text-sm text-gray-400 mt-2 leading-relaxed tracking-wider;
}
.closeIcon {
  @apply absolute top-2 right-2 cursor-pointer text-lg hover:text-teal-500;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
